html{
	width:100%;
}
body{
	margin-left:7%;
	margin-right:7%;
	line-height:19px; 
	font-size:14px; 
	font-family: Consolas,Liberation Mono,"Inconsolata-g", "Courier New", Courier,monospace;
}
h1{
	margin-top:30px;
	text-align:center;
}
ul{
	list-style:none;
}
.toc{
	max-height:400px;
	font-size:14px;
	line-height:19px;
	overflow:scroll;
	z-index:999;
	position:fixed;
	top:40px;
	right:3%;
	border:solid 1px #999;
	background-color:#fff;
}

em{
	color:#999;
}

#top{
	width:80%;
	font-size:17px;
	z-index:9999;
	position:fixed;
	top:5px;
	border-bottom:solid 1px #999;
}

#top1{
	float:left;
}
#top2{
	float:right;
}
#foot{
	clear:both;
	text-align:center;
	padding-left:20px;
	padding-right:20px;
}

